<mat-card>
  <mat-card-content class="text-left">
    <div>
      <h5>{{match.homeTeam.name}} - {{match.awayTeam.name}}</h5>
    </div>
    <div *ngIf="match.homeScore > -1 && match.awayScore > -1">
      {{match.homeScore}} - {{match.awayScore}}
    </div>
    <div>{{match.dateTime | date}} at {{match.dateTime | dateToTimeString}}</div>
    <div>{{match.championship.name}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)='bet()'>BET</button>
    <button mat-raised-button (click)="onStats()" color="basic">STATS</button>
    <button mat-button (click)="onEdit()">EDIT</button>
  </mat-card-actions>
</mat-card>
