<h2 mat-dialog-title>
  <b>Login</b>
</h2>
<mat-dialog-content>
  <form #loginForm="ngForm">
    <mat-form-field>
      <input required [(ngModel)]="credentials.email" name="email"
             type="email" matInput #email="ngModel" placeholder="Type your email address">
      <mat-error *ngIf="email.invalid" align="end">Must be an email address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required type="password" [(ngModel)]="credentials.password" name="password" matInput
             #password="ngModel" min-length="5" placeholder="Type your password">
      <mat-error *ngIf="password.invalid" align="end">Must have more than 5 characters.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="loginForm.form.invalid" class="btn-primary" (click)='onLogin()'>Login</button>
  <button mat-button (click)='dialogRef.close()'>Cancel</button>
</mat-dialog-actions>
