<div class="row">
  <mat-card class="col-md-8 offset-md-2 col-xs-12">
    <mat-card-title>
      How it works
    </mat-card-title>
    <mat-card-content>
      GarageBet.com is an application which lets you place
      <b>mock bets</b> on football matches.
      <br/><br/>You do not bet money, you will not win money, you will not loose money, however you will make matches more interesting
      by adding a reason to root for a certain score! For example, the
      <b>WORLD CUP 2018</b> is just arround the corner! Say you and your group of football maniac friends want to watch Egpyt
      - Uruguay (Fryday, 15th June 12:00 GMT +0) but you are all from Romania, thus no emotional reason to watch the game.
      In this case, you guyz can place your "mock bets" in GarageBet.com and see which one of you gathers the most points.
      Also, you now have a reason to root for a certain score making the game more interesting.
      <h4>What is a
        <b>mock bet</b>?</h4>
      Basically a mock bet means that for each match you bet (more or less estimate) the exact score. For example, I bet that Egypt
      - Uruguay ends 1 - 3. Depending on the outcome of the game I receive a certain number of points. Points:
      <ul>
        <li>I bet and my score was the correct score, in this case
          <b>I get 3 points!</b> (the number of points a team gets if it wins)</li>
        <li>I bet and my score reflects the outcome (I bet Uruguay wins 3 - 1, however, Uruguay wins 2 - 0), in this case
          <b>I get 1 point!</b> (the number of points a team gets if it draws)
        </li>
        <li>
          If I dont reflect the outcome at all (I bet a draw and some team wins, for example),
          <b>I get 0 points.</b>
        </li>
      </ul>
      <h4>Why register and play?</h4>
      Because it's super fun! Going back to the Egypt - Uruguay match above, you would basically have no reason to watch that game,
      or if you do watch it you are not that involved in the outcome, however after you set your mock bet here, the match
      gets more interesting due to the fact that you can win/loose points. And hey! no one tells you and your friends to
      not give a pitcher of beer to the winner in your group :) !
      <br/> <br/> GarageBet.com is completely free and all the information you give us (email and name) will be used solely to manage
      your account and display the
      <a routerLink='/Leaderboard' href="javascript:void(0)">Leaderboard</a> to see where you are in the rankings.
    </mat-card-content>
  </mat-card>
</div>
