<div class="col-md-8 offset-md-2 col-xs-12 primary-color">
  <mat-card>
    <mat-card-title>
      Terms and Conditions
    </mat-card-title>
    <mat-card-content>
      <h3>1. Confidentiality</h3>
      <div>
        The protection of information in the processing of your personal data is a matter of major concern for us, therefore all
        data collected while visiting GarageBet.com are processed according to the legal provisions valid for state where
        this site is maintained, that is Romania. We undertake not to disclose any information regarding your visits on this
        site, except in situations provided by the law. We shall not send to any third party your personal data submitted
        by you on the site www.garagebet.com according to these Terms and Conditions.
      </div>
      <h3>2. Collection and proccessing of personal data </h3>
      <div>
        When you visit GarageBet.com and register (create an account), we store your name and email address. This data is used solely
        to uniquely identify you within our app and to give full access to our features.
      </div>
      <h3>3. Modifications of the Private Policy Statement</h3>
      <div>
        Any modifications of this Privacy Policy Statement that may arise will be published on this web site without prior notice.
      </div>
      <h3>4. Information for the users</h3>
      <div>
        As a user you have the responsability to give your name (or alias) without use of inappropriate words. In case this is not
        respected, we reserve the right to terminate your account and delete all information regarding it.
      </div>
    </mat-card-content>
  </mat-card>
</div>
