<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="championship-card-image" [style.backgroundImage]="getImagePath()">

    </div>
    <mat-card-title>
      <h5>{{championship.name}}</h5>
    </mat-card-title>
    <mat-card-subtitle>{{championship.competitiveYear}}</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image class="championship-card-image" [src]="'assets/championships/' + championship.name + '-large.png'">-->
  <mat-card-actions>
    <button mat-raised-button color="primary">STATS</button>
    <button mat-raised-button color="info" (click)="onEdit()">EDIT</button>
    <button mat-raised-button color="info" (click)="addMatch(championship.id)">ADD MATCH</button>
  </mat-card-actions>
</mat-card>
