<div class="row">
  <div class="col-md-8 offset-md-2 col-xs-12">
    <h2 class="primary-color">Welcome to GarageBet.com!</h2>
    <div class="primary-color font-16">
      Head down to the
      <a href="javascript:void(0)" routerLink='how-it-works'>How it Works page</a> if you are new here!
      <br/> If not, checkout
      <a href="javascript:void(0)" routerLink='match/today'>Today's matches</a> to see if you have set your bets for the day, or to check and compare the outcome.
    </div>
  </div>
</div>
