th,
td {
  color: white;
  text-align: center;
}

.highlight-row {
  background-color: rgba(28, 51, 52, 0.8);
}

.load-more-button {
  width: 100%;
  text-align: center;
}

td {
  padding: 4px;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
}
