<div [ngClass]="{'desktop-footer': layout.isDesktopMode(), 'non-desktop-footer': !layout.isDesktopMode()}">
  <form #donate (ngSubmit)='submit(donate)' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal-button"
    [ngClass]="{'paypal-button-phone': !layout.isDesktopMode()}">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="QLLSBPHVDKXFW">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  <div class="primary-color font-size-11 donation-text">
    GarageBet.com is free to use and is not supported by any sponsors. By donating you help us provide you with more features
    and better content.
  </div>
  <a class="font-size-11 text-center" routerLink='terms-and-conditions'>Terms and Conditions</a>
</div>
