:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-fluid {
  flex-grow: 1;
  padding: 8px 0 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-container {
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  padding: 0 8px;
}
