<app-loading-spinner [isLoading]='isLoading' message="Registering...">
  <form #registerForm='ngForm' (ngSubmit)='register()'>
    <mat-card class="col-xs-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
      <mat-card-title>
        Register
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input required email matInput type="email" name="email" #email='ngModel' [(ngModel)]='user.email' placeholder='Email'>
          <mat-error *ngIf='email.invalid && email.errors.email'>
            Must be a valid email address (e.g. awesome@garagebet.com).
          </mat-error>
          <mat-error *ngIf="email.invalid && email.errors.required">
            The email address is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input required minlength="8" matInput type="password" name="password" #password='ngModel' [(ngModel)]='user.password' placeholder='Password'>
          <mat-error *ngIf="password.invalid && password.errors.minlength">
            The password must have atleast 8 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input required minlength="8" matInput type="password" name="confirmPassword" #confirmPassword='ngModel' [(ngModel)]='user.confirmPassword'
            placeholder='Confirm Password'>
        </mat-form-field>

        <mat-form-field>
          <input required matInput type="text" name="firstName" #firstName='ngModel' [(ngModel)]='user.firstName' placeholder='First Name'>
          <mat-error *ngIf="firstName.invalid && firstName.errors.required">
            The first name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input required matInput type="text" name="lastName" #lastName='ngModel' [(ngModel)]='user.lastName' placeholder='Last Name'>
          <mat-error *ngIf="lastName.invalid && lastName.errors.required">
            The last name is required.
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="!checkPasswordMatch(password, confirmPassword)">
          Must match the password.
        </mat-error>
        <br/>
        <div>
          Registering means accepting our
          <a routerLink='/terms-and-conditions'>Terms and Conditions.</a>
          For further information contact or to cancel your account, contact us at
          <a href="mailto:garagebet@gmail.com">garagebet@gmail.com</a>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]='registerForm.form.invalid' type="submit" (click)='register()'>
          REGISTER
        </button>
        <button mat-raised-button color="warn" (click)='cancel()'>
          CANCEL
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</app-loading-spinner>
