<mat-card [ngClass]='service.checkBetState(matchBet)'>
  <mat-card-content class="text-left">
    <div>
      <h5>{{matchBet.homeTeamName}} - {{matchBet.awayTeamName}}
        <b *ngIf="isMatchEnded()">{{matchBet.homeScore}} - {{matchBet.awayScore}}</b>
      </h5>
    </div>
    <div *ngIf='hasBet()'>
      Bet:
      <b>{{matchBet.homeBet}} - {{matchBet.awayBet}}</b>
    </div>
    <div *ngIf='notAvailable()'>
      You have not set a bet for this match
    </div>
    <div>{{matchBet.dateTime | date}} at {{matchBet.dateTime | dateToTimeString}}</div>
    <div>Competition:
      <b>{{matchBet.championshipName}}, {{matchBet.competitiveyear}}</b>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf='canBet()' mat-raised-button color="primary" (click)='bet()'>BET</button>
    <button *ngIf='canEditBet()' mat-raised-button color="primary" (click)='edit()'>EDIT</button>
    <button *ngIf='canSeeStats()' mat-raised-button (click)="onStats()" color="basic">STATS</button>
  </mat-card-actions>
</mat-card>
