/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mat-form-field {
  width: 100%;
  padding-bottom: 8px;
}

.app-container {
  padding-top: 12px;
}

.avatar-card {
  background-size: cover;
}

button:focus {
  outline: none;
}

.button-row>button {
  margin: 0 4px;
}

button:focus {
  outline: none;
}

.mat-card {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #114E7A;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
  background-color: #1C7FC6;
  color: white;
}

.match-card-won {
  border-left: 6px solid green;
}

.won-color {
  color: green !important;
}

.match-card-result {
  border-left: 6px solid yellow;
}

.result-color {
  color: yellow !important;
}

.match-card-lost {
  border-left: 6px solid red;
}

.lost-color {
  color: red !important;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Color Scheme */

.primary-color {
  color: white;
}

a {
  color: white !important;
  text-decoration: underline !important;
}

a:hover {
  color: lightgray !important;
}

.no-horiz-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-tab-label {
  background-color: orange;
  color: white;
  opacity: 1;
  font-size: 18px;
}
