/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.mat-form-field {
  width: 100%;
  padding-bottom: 8px;
}

.app-container {
  padding-top: 12px;
}

.avatar-card {
  background-size: cover;
}

button:focus {
  outline: none;
}

.button-row>button {
  margin: 0 4px;
}
