<mat-toolbar *ngIf="layout.screenType !== 'phone'">
  <div class="logo">
    <!-- <img src="assets/logo.png"> -->
  </div>

  <ul class="app-navbar">
    <li routerLink='' routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Home
    </li>
    <li *ngIf='service.isLoggedIn()' routerLink='match/today' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Today's Matches
    </li>
    <li *ngIf='service.isLoggedIn()' routerLink='championship' routerLinkActive="active">
      Championships
    </li>
    <li *ngIf='service.isLoggedIn()' routerLink='match' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Matches
    </li>
    <li *ngIf='service.isLoggedIn()' routerLink='leaderboard' routerLinkActive="active">
      Leaderboard
    </li>
    <li routerLink='how-it-works' routerLinkActive="active">
      How it Works
    </li>
  </ul>

  <ul class="app-navbar" *ngIf="!service.isLoggedIn()">
    <li routerLink='login' routerLinkActive="active">
      Login
    </li>
    <li routerLink='register' routerLinkActive="active">
      Register
    </li>
  </ul>

  <ul class="app-navbar" *ngIf="service.isLoggedIn()">
    <li routerLink='stats' routerLinkActive="active">
      My Stats
    </li>
    <li (click)="logout()">
      Logout
    </li>
  </ul>
</mat-toolbar>

<mat-toolbar *ngIf="layout.screenType === 'phone'">
  <div class="logo">
    <img src="assets/logo.png">
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu" class="primary-color">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='' routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item *ngIf='service.isLoggedIn()' routerLink='match/today' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Today's Matches
      </button>
      <button mat-menu-item *ngIf='service.isLoggedIn()' routerLink='championship' routerLinkActive="active">
        Championships
      </button>
      <button mat-menu-item *ngIf='service.isLoggedIn()' routerLink='match' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Matches
      </button>
      <button mat-menu-item *ngIf='service.isLoggedIn()' routerLink='leaderboard' routerLinkActive="active">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Leaderboard</span>
      </button>
      <button *ngIf='service.isLoggedIn()' mat-menu-item routerLink='stats' routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>My Stats</span>
      </button>
      <button mat-menu-item routerLink='how-it-works' routerLinkActive="active">
        How it Works
      </button>
      <button mat-menu-item routerLink='login' routerLinkActive="active" *ngIf="!service.isLoggedIn()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink='register' routerLinkActive="active" *ngIf="!service.isLoggedIn()">
        <mat-icon>how_to_reg</mat-icon>
        <span>Register</span>
      </button>
      <button mat-menu-item *ngIf='service.isLoggedIn()' (click)="logout()">
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
