<mat-toolbar *ngIf="layout.screenType !== 'phone'">
  <div class="logo">
    <!-- <img src="assets/logo.png"> -->
  </div>

  <ul class="app-navbar">
    <li routerLink='match/today' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Today's Matches
    </li>
    <li routerLink='championship' routerLinkActive="active">
      Championships
    </li>
    <li routerLink='match' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Matches
    </li>
    <li routerLink='leaderboard' routerLinkActive="active">
      Leaderboard
    </li>
  </ul>

  <ul class="app-navbar" *ngIf="!service.isLoggedIn()">
    <li routerLink='login' routerLinkActive="active">
      Login
    </li>
    <li routerLink='register' routerLinkActive="active">
      Register
    </li>
  </ul>

  <ul class="app-navbar" *ngIf="service.isLoggedIn()">
    <li routerLink='stats' routerLinkActive="active">
      My Stats
    </li>
    <li (click)="logout()">
      Logout
    </li>
  </ul>
</mat-toolbar>

<mat-toolbar *ngIf="layout.screenType === 'phone'">
  <div class="logo">
    <img src="assets/logo.png">
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='bet' routerLinkActive="active">
        Bet
      </button>
      <button mat-menu-item routerLink='championship' routerLinkActive="active">
        Championships
      </button>
      <button mat-menu-item routerLink='team' routerLinkActive="active">
        Teams
      </button>
      <button mat-menu-item routerLink='match' routerLinkActive="active">
        Matches
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
