:host {
  height: 60px;
  align-items: none;
  background-color: transparent;
}

.mat-toolbar {
  height: 100%;
  background: transparent;
  justify-content: space-between !important;
  display: flex;
}

.app-navbar {
  list-style: none;
  margin-top: 26px;
  margin-bottom: 2px;
  height: 24px;
}

.app-navbar>li {
  display: inline;
  padding: 0 16px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  min-width: 80px !important;
  color: white;
}

.app-navbar>li:hover,
.active {
  border-bottom: 3px solid darkorange;
}

.app-navbar>li:focus {
  outline: none;
}
