:host {
  height: 80px;
  align-items: none;
  background-color: rgba(10, 45, 71, 0.7);
}

.mat-toolbar {
  height: 100%;
  background: transparent;
  justify-content: space-between !important;
  display: flex;
}

.logo {
  max-height: 80px;
}

.logo>img {
  max-height: 80px;
}

.app-navbar {
  list-style: none;
  margin-top: 46px;
  margin-bottom: 2px;
  height: 24px;
}

.app-navbar>li {
  display: inline;
  padding: 0 16px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  min-width: 80px !important;
  color: #3087C6;
}

.app-navbar>li:hover,
.active {
  border-bottom: 3px solid #C67600;
}

.app-navbar>li:focus {
  outline: none;
}
