<app-loading-spinner [isLoading]='isLoading' message="Loading...">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-md-12">
      <h2>Teams</h2><hr />
      <div class="row">
        <ng-container *ngFor="let team of teams">
          <app-team-card [team]="team" (edit)="edit($event)" class="col-md-6 col-lg-4">

          </app-team-card>
        </ng-container>
      </div>
      <div class="button-row">
        <button mat-button (click)="create()">CREATE</button>
      </div>
    </div>
  </div>
</app-loading-spinner>
